body {
  background-color: #333;
  background-position: fixed;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  width: 100%;
  font-size: 300%;
  color: #fff;
  font-weight: 300;
  margin-top: .5em;
  margin-bottom: 1em;
}
h1 small{
  color: #fff;
  opacity: 0.6;
}
.logo {
  max-height: 0.9em;
  vertical-align: top;
  margin-top: .1em;
}
@media (min-width: 768px) {
    h1 {
      text-align: center;
      font-size: 600%;
      position: fixed;
      z-index: 3;
    }
    h1 small{
      font-size: .5em;
    }
    .h1-hidden {
      display: none;
    }
    #laptop {
      margin-top: 25%;
    }
}

.restrictWidth {
  max-width: 1024px;
  margin: auto;
}

.splash {
  padding: 2.5% 0 0 0;
  background-color: #6ae;
  position: relative;
  z-index: 2;
}
.table {
  width: 100%;
  padding-bottom: 2.5%;
  border:none;
  background-color: #aaa;
  margin:0;
}
.table-above {
  background-color: #ccc;
  position: relative;
  z-index: 2;
}
.back {
  background: #444;
  width: 100%;
  position: relative;
  padding-top: 2.5%;
  z-index: 2;
}
.printer {
  width: 70%;
  padding-bottom: 10%;
  background: #222;
  margin: auto;
  position: relative;
  border-radius: 3%;
  z-index: 2;
}
.printer:before {
  content: '';
  display: block;
  width: 90%;
  left: 5%;
  z-index: 1;
  padding-bottom: 5%;
  position: absolute;
  bottom: -20%;
  background: rgba(200,200,200,0.5);
}
.printer:after {
  content:'';
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1%;
  padding-bottom: 1%;
  border-radius: 50%;
  background-color: #f33;
  box-shadow: 0 0 5px #f33;
}
.printer-on:after {
  background-color: #3f3 !important;
  box-shadow: 0 0 5px #3f3 !important;
}
.printer-tray {
  margin-top: -10%;
  width: 65%;
  padding-bottom: 4%;
  background: #111;
  margin: auto;
  position: relative;
  z-index: 1;
}
.printer-tray:before, printer-tray:after {

}

.cv {
  position: relative;
  margin-top: -100%;
  margin-bottom: 43%;
  left: 50%;
  z-index: 1;
  background: #fff;
  width: 60%;
  margin-left: -30%;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.1);
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
          transition: all 1s;
}
.cv-at-bottom {
  margin-top: 3%;
  margin-bottom: -60%;
}

.cv:after {
  content: '';
  display: block;
  padding-bottom: 141.4%;
}

.cv-profile-picture {
  background-color: #ccc;
  background-image: url(../img/profile.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 14%;
  padding-bottom: 20%;
  position: absolute;
  top: 7%;
  left: 6%;
}

.cv-content {
  position: absolute;
  overflow: hidden;
  padding: 5%;
  padding-left: 25%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.p-line, .h-line {
  display: block; 
  background-color: #ccc;
  height: 1em;
  margin-bottom: .5em;
  width: 100%;
}
.h-line {
  height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 20%;
}

#laptop {
  width: 80%;
  background: #555; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 2% 4% 2%; 
  border-top-left-radius: 2.2% 4%; 
  border-top-right-radius: 2.2% 4%; 
  border-bottom-left-radius: 30% 3%;
  border-bottom-right-radius: 30% 3%;
  z-index: 5;
}

/* LAPTOP BODY */
#laptop:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: -5%;
  right: -5%;
  height: 5%;
  border-bottom-left-radius: 10% 40%;
  border-bottom-right-radius: 10% 40%;
  background: #777;
}


/* LID-GRIP */
#laptop:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3%;
  left: 40%;
  right: 40%;
  height: 2%;
  z-index: 10;
  border-bottom-left-radius: 2% 80%;
  border-bottom-right-radius: 2% 80%;
  background: #aaa;
}

#laptop-screen {
  position: relative;
  background-size: cover; 
  background-position: top center;
  background-image: url('../img/acs.png');
  height: 0; 
  padding-bottom: 56.25%; 
  position: relative;
  overflow: hidden;
}

#laptop video {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.icon-lg {
  font-size: 500%;
  text-align: center;
  display: block;
  color: #39e;
  margin-top: 5%;
}

.description {
  background-color: #456;
  padding: 5%;
  position: relative;
  z-index: 2;
  color: #fff;
}
.super-lead {
  font-size: 200%;
  font-weight: 300;
}

@media (min-width: 992px) {
  .super-lead {
    font-size: 300%
  }
}

.features {
  background-color: #eee;
  padding: 5%;
  position: relative;
  z-index: 2;
}

.feature-grid {
  text-align: center
}

.feature {
  display: inline-block;
  width: 80%;
  padding-right: 2%;
  vertical-align: top;
}

@media (min-width: 480px) {
  .feature {
    width: 50%
  }
}

@media (min-width: 992px) {
  .feature {
    width: 25%
  }
}

footer {
  background: #ccc;
  text-align: center;
  padding: 5%;
}